@inherits LayoutComponentBase

<NavMenu/>

<div style="margin: 0px;margin-left: 4.5rem;">
    <nav class="navbar navbar-expand-md sticky-top bg-body">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Gurukul - Dashboard</a>
        </div>
    </nav>
    <div class="container"></div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>